.container-historicos {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-left: 35vw;
    width: 30vw;
}

input[type=date],
input[type=text],
input[type=file],
select,
input[type=number],
input[type=password],
input[type=checkbox] {
    background-color: #e2e1e1;
    width: 30vw;
    padding: 6px 10px;
    margin: 5px 0 5px 0;
    display: inline-block;
    border: 0.5px solid #3c3b3b;
    box-sizing: border-box;
    font-size: 17px;
}

.label-cadastra {
    width: 30vw;
    margin: 5px 0 0 0;
    display: block;
    box-sizing: border-box;
    font-size: 15px;
}

.container-historicos h2{
    margin-left:0;
}
  
.historico {
    color: white;
    background-color: #26551df5;
    border-radius: 13px;
    padding: 15px;
    font-size: 17px;
    text-align: center;
    width: 20%;
    margin: 1%;
    height: 40px;
}

.historico:hover,
.historico label:hover {
    background-color: #289412f5;
    cursor: pointer;
}

.button-form {
    background-color: #0ca011;
    color: white;
    padding: 10px;
    margin: 15px 0 0 10vw;
    border: none;
    cursor: pointer;
    width: 10vw;
    font-size: 15px;
    font-weight: bold;
}
.button-form-adicionar-animal {
    background-color: #0ca011;
    color: white;
    padding: 10px;
    margin: 15px 0 0 10vw;
    border: none;
    cursor: pointer;
    width: 15vw;
    margin-left: 80vw;  
    height: 40px;
    font-size: 15px;
    font-weight: bold;
}

.button-form-adicionar-animal:hover {
    background-color: #116814;
}

.button-form:hover {
    background-color: #116814;
}

@media (max-width:800px) {

    .container-historicos {
        margin-left: 20vw;
        width: 60vw;
    }
    
    input[type=date],
    input[type=text],
    input[type=file],
    select,
    input[type=number],
    input[type=password],
    input[type=checkbox] {
        width: 60vw;
        font-size: 15px;
    }

    .button-form {
        margin: 15px 0 0 20vw;
        width: 20vw;
        font-size: 13px;
    }
    .button-form-adicionar-animal {
        margin: 15px 0 0 20vw;
        width: 20vw;
        margin-left: 80vw;  
        height: 30px;
        font-size: 15px;
    }
    .label-cadastra {
        width:60vw;
        font-size: 13px;
    }
}