.lista-configuracoes li a{
    border-radius: 4px;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    color: #333;
    font-size: 20px;
}
  
.lista-configuracoes{
    list-style: none;
}

.lista-configuracoes li{
    width: 250px;
    margin: 20px 0 0 30%;
    padding:10px;
    background-color:rgb(191, 191, 191);
    border-radius: 10px;
}

.lista-configuracoes li:hover{
    background-color:rgb(158, 158, 158);
}

