input[type=text], 
input[type=date], 
input[type=checkbox], 
input[type=file], 
input[type=number]{
    width: 60%;
    padding: 12px 20px;
    margin: 10px 0 10px 20%;
    display: inline-block;
    border: 0.5px solid rgb(85, 84, 84);
    box-sizing: border-box;
    font-size: 18px;
}

.lista_fichas{
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
    margin-top:70px;
} 
.ficha{
	width: 550px;
	padding: 5px;
    height: 120px;
	background-color: #eeeeee;
	border: 1px solid #cccccc;
	margin: 5px 5px 5px 25px;
	transition: 0.3s;
}

.ficha:hover{
	box-shadow: 3px 3px 10px #176a35;
}

.ficha img{
    height: 80px;
	width: 80px;
	border-radius: 40px;
	margin: 0px 20x 0 20px;
}

.ficha label{
	display: flex;
    margin-top:20px;
    margin-left:20px;
	align-items: center;
}

.ficha_descricao{
    margin-left:20px;
    font-size:18px;
	display: flex;
	flex-direction: column;
}

.button-delete{
    background-color: rgba(77, 77, 77, 0.433);
    color:rgb(243, 36, 36);
    font-size: 23px;
    width: 60px;
    margin-left: 10px;
}

.button-edit{
    background-color: rgba(77, 77, 77, 0.433);
    color:rgb(52, 130, 52);
    font-size: 23px;
    width: 60px;
    margin-left: 30px;
}

.button-edit:hover{
    background-color: rgb(194, 193, 193);
}

.button-delete:hover{
    background-color: rgb(194, 193, 193);
}

.container-historicos{
    display: flex;
	flex-direction: row;
	justify-content: flex-start;
	flex-wrap: wrap;
    width: 1000px;
    margin-left:25%;
}

.historico{
    color:white;
    background-color:rgba(38, 85, 29, 0.96);
    border-radius: 13px;
    padding: 20px;
    font-size:23px;
    text-align: center;
    width: 250px;
    margin: 1%;
    height:55x;
}

.historico:hover, .historico label:hover {
    background-color:rgba(40, 148, 18, 0.96);
    cursor:pointer;
}



.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 100px;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 70%;
  }

  .modal-content h1{
      margin-left: 350px;
  }
  
  .close {
    color: #3b3a3a;
    float: right;
    font-size: 33px;
    font-weight: bold;
  }
  
  .close:hover, .close:focus {
    color: red;
    text-decoration: none;
    cursor: pointer;
  }