@import url("https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.css");

.grafico-prod-leite{
    width: 40%;
    margin-left: 5%;
}

.grafico-prox-partos{
    width: 40%;
    margin-left: 5%;
}

.graficos-container{
    margin-top: 40px;
    display:flex;
}