.lista_fichas {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 70px;
}

.ficha {
    cursor: pointer;
    width: 550px;
    height: 120px;
    font-size: 15px;
    background-color: #eeeeee;
    border: 1px solid #707070;
    margin: 10px;
    transition: 0.3s;
}

.ficha:hover {
    box-shadow: 3px 3px 10px #176a35;
}

.ficha img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 0px 20x 0 20px;
}

.ficha .label {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
}

.ficha_descricao {
    margin-left: 20px;
    font-size: 18px;
    display: flex;
    flex-direction: column;
}

.button-delete {
    background-color: rgba(77, 77, 77, 0.433);
    color: rgb(243, 36, 36);
    font-size: 23px;
    width: 60px;
    margin-left: 10px;
}

.button-edit {
    background-color: rgba(77, 77, 77, 0.433);
    color: rgb(52, 130, 52);
    font-size: 23px;
    width: 60px;
    margin-left: 30px;
}

.button-edit:hover {
    background-color: rgb(194, 193, 193);
}

.button-delete:hover {
    background-color: rgb(194, 193, 193);
}