.lista_animais {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 10px;
}
h3{
    margin-left: 45vw;
    font-size:25px;
    font-weight: bold;
}

.lista_animais h3 {
    width: 100%;
    margin-left: 35vw;
}

.animal {
    cursor: pointer;
    width: 40vw;
    height: 120px;
    font-size: 15px;
    background-color: #eeeeee;
    border: 1px solid #707070;
    margin: 20px 4vw 0 4vw;
    border-radius: 5px;
    transition: 0.3s;
}

.animal-historico {
    cursor: pointer;
    width: 40vw;
    font-size: 15px;
    background-color: #eeeeee;
    border: 1px solid #707070;
    margin: 20px 4vw 0 4vw;
    border-radius: 5px;
    transition: 0.3s;
}

.animal-historico:hover {
    box-shadow: 3px 3px 10px #176a35;
}

.animal:hover {
    box-shadow: 3px 3px 10px #176a35;
}

.animal img {
    height: 80px;
    width: 80px;
    border-radius: 40px;
    margin: 0px 20x 0 20px;
}

.animal-historico .label {
    display: flex;
    margin: 15px;
    align-items: center;
}

.animal .label {
    display: flex;
    margin-top: 20px;
    margin-left: 20px;
    align-items: center;
}

.animal_descricao {
    margin-left: 20px;
    font-size: 18px;
    width: 50%;
    display: block;
    flex-direction: column;
}

.button-delete {
    background-color: #4d4d4d6e;
    color: #ff0000;
    font-size: 20px;
    width: 50px;
    margin-left: 10px;
}

.button-edit {
    background-color: #4d4d4d6e;
    color: #097c09;
    font-size: 20px;
    width: 50px;
    margin-left: 100px;
}

.button-edit:hover {
    background-color: #c2c1c1;
}

.button-delete:hover {
    background-color: #c2c1c1;
}