.container-login {
    width: 70%;
    margin-left: 15%;
    margin-top: 2%;
}

.logo-mst img {
    width: 100px;
    height: 100px;
    margin: 10% 0 0 45%;
    border-radius: 80px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

input[type=text],
input[type=password] {
    width: 60%;
    padding: 10px ;
    margin: 10px 0 10px 20%;
    display: inline-block;
    border: 0.5px solid #555454;
    box-sizing: border-box;
    font-size: 18px;
}

button {
    background-color: #0ca011;
    color: white;
    padding: 10px;
    margin: 15px 40% 0 40%;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 19px;
    font-weight: bold;
}

a{
    margin-left:40%;
    text-decoration: none;
    color: #212121;
    background-color: #858585;
}

a:hover{
    background-color: #5c5c5c;

}
