.logo-mst{
    width:100%;
    text-align: center;
    margin-top: 150px;
}
.logo-mst img {
    height: 100px;
    border-radius: 15px;
}

.button-login {
    background-color: #0ca011;
    color: white;
    padding: 10px;
    margin: 15px 40% 0 40%;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 19px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #212121;
}

.login-a{
    color: white;
    padding: 5px;
    margin: 15px 0 0 40%;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 15px;
    font-weight: bold;
}

.container-historicos  .login-a:hover{
    background-color: #949494;
}

@media (max-width:500px) {
    .logo-mst{
        margin-top: 80px;
    }
    .logo-mst img {
        height: 60px;
    }
    
}