.logo-mst img {
    width: 100px;
    height: 100px;
    margin: 6% 0 0 45%;
    border-radius: 80px;
}

.button-login {
    background-color: #0ca011;
    color: white;
    padding: 10px;
    margin: 15px 40% 0 40%;
    border: none;
    cursor: pointer;
    width: 20%;
    font-size: 19px;
    font-weight: bold;
}

a{
    text-decoration: none;
    color: #212121;
}

.container-historicos  .login-a:hover{
    background-color: #949494;
}
