.container-filtros-relatorio{
display: flex;
}

.relatorio-a{
    text-decoration: none;
    height: 40px;
    color:#272727;
    background-color:#c9c9c9;
    margin-left: 10px;
    margin-top:24px;
}

.div-filtros-relatorio-tipo{
  margin-left: 20vw;
}

.div-filtros-relatorio-mes{
  margin-left: 1vw;
}

.relatorio-a:hover{
    background-color:#2b9e2bb1;
    color:#ffffff;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 80%;
    margin-left: 10%;
    margin-top: 30px;

  }
  
  td, th, tr {
    border-bottom: 1px solid #8d8d8d;
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even) {
    background-color: #c4c3c3;
  }

  @media (max-width:800px) {

    select{
        width: 34vw;
        font-size: 15px;
    }

  }