@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --primary-color: #073a18;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  transition: transform 0.3s;
  background-color: #d6d5d5;
  min-height: 2000px;
}

body.show-nav {
  transform: translateX(240px);
}

nav {
  background-color: var(--primary-color);
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  width: 240px;
  padding-top: 80px;
  height: 90vh;
  transform: translateX(-100%);
}

nav .logo {
  padding: 0px 0;
  text-align: center;
}

nav .logo img {
  height: 80px;
  width: 80px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  text-decoration: none;
  margin-top: 20px;
}

nav ul li {
  border-bottom: 2px solid #ffffff2e;
  padding: 10px;
  text-align: center;
}

nav ul li a {
  font-size:15px;
  font-weight: 600;
  color: #fff;
  text-decoration: none;
}

.nav ul li:hover{
  background-color:#002c10;
  cursor: pointer;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  height: 60px;
  position: relative;
  width: 100%;
  padding: 0px 15px;
  text-align: center;
}

button, input[type='submit'] {
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: #00000000;
  position: absolute;
  top: 5px;
  font-size:17px;
  left:50px;
}

h1{
  margin-left:40%;
}

.logo-header {
  height: 30px;
  float: right;
  margin-right: 30px;
  margin-top:-35px;
}

.logo-header img {
  border-radius: 40px;
  width: 50px;
  height: 50px;
  margin-top: 40px;
}