@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

:root {
  --modal-duration: 1s;
  --primary-color: #073a18;
}

body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  transition: transform 0.3s ease;
}

body.show-nav {
  transform: translateX(300px);
}

nav {
  background-color: var(--primary-color);
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 300px;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
}

nav .logo {
  padding: 30px 0;
  text-align: center;
}

nav .logo img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

nav ul {
  padding: 0;
  list-style-type: none;
  margin: 0;
  text-decoration: none;
}

nav ul li {
  border-bottom: 2px solid rgba(255, 255, 255, 0.179);
  padding: 20px;
  text-align: center;
}

nav ul li a {
  font-size:22px;
  font-weight: bold;
  color: #fff;
  text-decoration: none;
}

nav ul li a:hover {
  text-decoration: none;
}

.nav ul li:hover{
  background-color:#082412;
  cursor: pointer;
}

header {
  background-color: var(--primary-color);
  color: #fff;
  font-size: 130%;
  position: relative;
  padding: 50px 15px;
  text-align: center;
}

header h1 {
  margin: 0;
}

header p {
  margin: 30px 0;
}

button, input[type='submit'] {
  border: 0;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 8px 12px;
}

button:focus {
  outline: none;
}

.toggle {
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 5px;
  font-size:20px;
  left: -800px;
}

h1{
  margin-left:40px;
}

.logo-header {
  height: 60px;
  float: right;
  margin-right: 30px;
  margin-top:-35px;
}

.logo-header img {
  border-radius: 40px;
  width: 70px;
  height: 70px;
}